.contents-right-form__box
  .contents-right-form__box__input-box
    type a message
    .formbox-image
      %label.upload-label.formbox-image--icon
        %i.fa.fa-picture-o
        %input.image{type: "file"}

  .contents-right-form__box__submit
    send